.header__filterRange {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 10px;
  min-width: 236px;
  width: 20%;
}

.range__slider .noUi-horizontal {
  height: 10px;
}

.range__slider .noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  right: -9px;
  top: -5px;
}

.noUi-handle:after {
  left: 5px;
}

.range__slider .noUi-handle:before,
.range__slider .noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 2px;
  background: transparent;
  left: 10px;
  top: 6px;
}

.header__filterRange h5,
.range__title {
  font-size: 14px;
  margin-top: 0;
}

.range {
  padding: 0;
  margin: 0 5px;
}

.range__slider {
  margin-top: 40px;
}

.noUi-origin .noUi-tooltip {
  background: transparent;
  color: aliceblue;
  font-size: 10px;
}

.noUi-connects .noUi-connect {
  background: rebeccapurple;
}

.noUi-touch-area {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {

  .header__filterRange {
    margin: 0 auto;
  }
}